---
import "@styles/colors.css";
import "@styles/resets.css";
import "@styles/fonts.css";

import Head from "@organisms/Head.astro";

type Props = {
  title: string;
};

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />

  <body>
    <main>
      <slot />
    </main>

    <style is:global>
      :root {
        font-family: Space Mono;
        font-weight: 400;
        font-feature-settings: "lnum";
        color-scheme: dark;

        /* Font smoothing */
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
      }

      body {
        background: linear-gradient(
          90deg,
          var(--amethyst) 0%,
          color-mix(in srgb, var(--amethyst) 96%, var(--white))
        );
        color: var(--white);
      }

      ::selection {
        background-color: var(--almond);
        color: var(--amethyst);
      }
    </style>
  </body>
</html>
