---
import "@styles/colors.css";
import "@styles/resets.css";

import Head from "@organisms/Head.astro";

type Props = {
  title: string;
};

const {title} = Astro.props;
---

<script>
  import SwupHeadPlugin from "@swup/head-plugin";
  import SwupScrollPlugin from "@swup/scroll-plugin";
  import SwupJsPlugin from "@swup/js-plugin";
  import gsap from "gsap";
  import Swup from "swup";

  const back_out = async () => {
    await gsap.to("#swup", {
      opacity: 0,
      x: 200,
      duration: 0.2,
      ease: "power2.in",
    });
  };
  const back_in = async () => {
    await gsap.fromTo(
      "#swup",
      {opacity: 0, x: -200},
      {opacity: 1, x: 0, duration: 0.2, ease: "power2.out"},
    );
  };

  const forward_out = async () => {
    await gsap.to("#swup", {
      opacity: 0,
      x: -200,
      duration: 0.2,
      ease: "power2.in",
    });
  };
  const forward_in = async () => {
    await gsap.fromTo(
      "#swup",
      {opacity: 0, x: 200},
      {opacity: 1, x: 0, duration: 0.2, ease: "power2.out"},
    );
  };

  new Swup({
    animateHistoryBrowsing: true,
    plugins: [
      new SwupHeadPlugin(),
      new SwupScrollPlugin({
        animateScroll: {
          betweenPages: false,
          samePage: false,
          samePageWithHash: false,
        },
      }),
      new SwupJsPlugin({
        animations: [
          {
            from: "/course/(.*)",
            to: "/",
            out: back_out,
            in: back_in,
          },
          {
            from: "/settings",
            to: "(.*)",
            out: back_out,
            in: back_in,
          },
          {
            from: "(.*)",
            to: "(.*)",
            out: forward_out,
            in: forward_in,
          },
        ],
      }),
    ],
  });
</script>

<html lang="en" class="system-theme">
  <Head title={title} />

  <body>
    <main id="swup">
      <slot />
    </main>
    <style is:global>
      :root {
        font-family: Space Mono;
        font-weight: 400;
        font-feature-settings: "lnum";
        color-scheme: dark;

        /* Font smoothing */
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
      }

      html {
        color: var(--fg-color);
        background-color: color-mix(in srgb, var(--bg-color) 97%, var(--white));
      }

      body {
        overscroll-behavior-y: none;
        height: 100%;
      }

      main {
        display: flex;
        flex-direction: column;
        margin: 1rem;
      }
    </style>
  </body>
</html>
