---
import type {Difficulty} from "@models";

type Props = {
  text: string;
  variant: Difficulty;
  size: number;
};

const {text, variant, size} = Astro.props;

const badge_font_size = `${size}rem`;
const badge_padding = `${size * 0.226}rem ${size * 0.857}rem`;
const badge_background_color = `var(--${variant}-background)`;
---

<span class={`badge ${variant === "master" && "master"}`}>
  {text}
</span>

<style define:vars={{badge_font_size, badge_padding, badge_background_color}}>
  .badge {
    font-size: var(--badge_font_size);
    font-weight: 400;
    text-align: center;
    padding: var(--badge_padding);
    color: var(--white);
    background: var(--badge_background_color);
    border: 1px solid transparent;
    border-radius: 0.375rem;
  }

  .master {
    border: 1px solid color-mix(in srgb, var(--onyx) 90%, var(--white));
    box-shadow: 0 0 10px color-mix(in srgb, var(--white) 12.5%, transparent);
  }
</style>
