---
type Props = {
  href: string;
  accessibility: string;
};

const {href, accessibility} = Astro.props;
---

<a href={href} draggable="false" aria-label={accessibility} class="link-button">
  <slot />
</a>

<script>
  const button = document.querySelector<HTMLAnchorElement>(".link-button");
  button?.addEventListener("click", (event: MouseEvent) => {
    if (
      history.state?.url.includes("/course") &&
      button.getAttribute("href") === "/"
    ) {
      event.preventDefault();
      event.stopPropagation();
      history.back();
    }
  });
</script>
