---
import {MultiIcon} from "@atoms";
import ThemeSwitcherLogic from "./ThemeSwitcherLogic.svelte";
---

<ThemeSwitcherLogic client:load />

<button class="theme-toggle" data-theme="system" aria-label="Theme toggle">
  <MultiIcon icons={["sun", "moon", "half-moon"]} size={1.125} />
</button>

<style>
  .theme-toggle {
    position: relative;
  }
</style>
