---
import {Icon} from "@atoms";
import BackButtonNavigation from "./BackButtonNavigation.svelte";
---

<BackButtonNavigation client:load />

<div
  id="02-molecules/BackButton.astro"
  class="container"
  aria-label="go back"
  tabindex="0">
  <Icon icon="left-arrow" label="Back" size={0.875} />
</div>

<style>
  .container {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
</style>
