---
import {Icon} from "@atoms";
import BackButtonNavigation from "./BackButtonNavigation.svelte";
---

<BackButtonNavigation client:load />

<button id="02-molecules/BackButton.astro" aria-label="go back" tabindex="0">
  <Icon icon="left-arrow" label="Back" size={0.875} />
</button>
