.badge {
  font-size: var(--badge-font-size);
  font-weight: 400;
  text-align: center;
  padding: var(--badge-padding);
  color: var(--white);
  background: var(--badge-background-color);
  border: 1px solid transparent;
  border-radius: 0.375rem;
}

.master {
  border: 1px solid color-mix(in srgb, var(--onyx) 90%, var(--white));
  box-shadow: 0 0 10px color-mix(in srgb, var(--white) 12.5%, transparent);
}
