:root {
  --coral: #f88379;       --red: #ed1c24;      --crimson: #dc143c;    --rosewood: #65000b;  --cherry: #330000;
  --almond: #efdecd;      --brown: #9F8170;    --coffee: #6f4e37;     --umbral: #635147;    --bean: #2c1810;
  --gold: #ffd700;        --orange: #f7941d;   --pomodoro: #ff6347;   --mahogany: #c04000;  --clay: #4e1500;
  --cream: #fffcc9;       --yellow: #fff200;   --citrine: #e4d00a;    --saffron: #f4c431;   --ochre: #3b2f00;
  --lime: #9efd3f;        --green: #00a651;    --olive: #7ba05b;      --forest: #00563B;    --pine: #003020;
  --azure: #e4ffff;       --cyan: #15f4ee;     --tiffany: #81D8D0;    --teal: #009494;      --abyss: #002626;
  --periwinkle: #ccccff;  --blue: #1414ff;     --lapis: #26619c;      --navy: #000094;      --depth: #000033;
  --lilac: #c8a2c8;       --purple: #a020f0;   --royal: #7851a9;      --indigo: #4b0082;    --amethyst: #110019;
  --blush: #e082b7;       --magenta: #ff0090;  --violet: #c71585;     --murrey: #7d0047;    --wine: #2e000f;
  --champagne: #f1ddcf;   --pink: #ffc0cb;     --valentine: #e6a6be;  --rose: #c08081;      --berry: #2d1517;
  --snow: #fffafa;        --white: #f7f7f7;    --smoke: #f5f5f5;      --bone: #e3dac9;      --graphite: #1a1a1a;
  --silver: #c0c0c0;      --gray: #848482;     --dim: #555555;        --metal: #2a3439;     --obsidian: #0c0c0c;
  --onyx: #353839;        --black: #1b1b1b;    --raisin: #242124;     --night: #111111;     --void: #050505;

  color: var(--fg-color);
  background-color: var(--bg-color);

  --fundamental-background: color-mix(in srgb, var(--green) 55%, var(--black));
  --beginner-background: color-mix(in srgb, var(--blue) 85%, var(--black));
  --intermediate-background: color-mix(in srgb, var(--orange) 70%, var(--black));
  --advanced-background: color-mix(in srgb, var(--crimson) 70%, var(--black));
  --expert-background: color-mix(in srgb, var(--indigo) 95%, var(--white));
  --master-background: linear-gradient(0deg, color-mix(in srgb, var(--onyx) 80%, var(--white)) 0%, var(--onyx) 90%);

  --fundamental-accent: color-mix(in srgb, var(--green) 90%, var(--white));
  --beginner-accent: color-mix(in srgb, var(--blue) 80%, var(--white));
  --intermediate-accent: color-mix(in srgb, var(--orange) 90%, var(--black));
  --advanced-accent: color-mix(in srgb, var(--crimson) 85%, var(--white));
  --expert-accent: color-mix(in srgb, var(--indigo) 70%, var(--white));
  --master-accent: color-mix(in srgb, var(--onyx) 65%, var(--white));
}

::selection {
  background-color: color-mix(in srgb, var(--lilac) 90%, var(--white));
  color: var(--amethyst);
}

.light-theme {
  --fg-color: var(--onyx);
  --bg-color: color-mix(in srgb, var(--lilac) 25%, var(--white));
}

.dark-theme {
  --fg-color: var(--white);
  --bg-color: var(--amethyst);
}

@media (prefers-color-scheme: dark) {
  .system-theme {
    --fg-color: var(--white);
    --bg-color: var(--amethyst);
  }
}

@media (prefers-color-scheme: light) {
  .system-theme {
    --fg-color: var(--onyx);
    --bg-color: color-mix(in srgb, var(--lilac) 25%, var(--white));
  }
}
