---
import type {Course} from "@models/course.model";
import CourseCard from "@molecules/CourseCard.astro";
import GridTitleAligner from "@organisms/GridTitleAligner.svelte";

type Props = {
  courses: Course[];
};

const {courses} = Astro.props;
---

<GridTitleAligner client:load />
<div class="grid">
  {courses.map(course => <CourseCard course={course} />)}
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
  }

  @media (max-width: 1280px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 864px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
</style>
