---
import {Ribbon, ThemeSwitcher} from "@atoms";
import {Logo, SettingsButton} from "@molecules";
---

<div class="menu-bar">
  <Ribbon />
  <Logo />

  <div class="menu-items">
    <ThemeSwitcher />
    <SettingsButton href="/settings" />
  </div>
</div>

<style>
  .menu-bar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 0.5rem;
    top: 0;
    z-index: 100;
    background-color: color-mix(in srgb, var(--bg-color) 97%, var(--white));
    box-shadow: var(--menu-bar-shadow);
  }

  .menu-items {
    display: flex;
  }
</style>
