---
import {BackButton} from "@molecules";
---

<div class="first-row">
  <div></div>
  <BackButton />
</div>

<style>
  .first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
