---
import {Text} from "@atoms";

type Props = {
  text: string;
  color: string;
};

const {text, color} = Astro.props;
---

<div class="ribbon">
  <Text label={text} size={0.875} type="primary" color="var(--white)" />
</div>

<style define:vars={{color}}>
  .ribbon {
    z-index: 101;
    position: absolute;
    width: 10rem;
    top: 1rem;
    left: -3.1rem;
    transform: rotate(-45deg);
    background-color: var(--color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: var(--white);
    text-align: center;
  }
</style>
