---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hello World">
  <main
    class="flex flex-col items-center justify-center min-h-screen bg-gray-900 text-white">
    <h1 class="text-5xl font-bold mb-8">Hello World!</h1>
    <p class="text-xl">Welcome to your first Astro project.</p>
  </main>
</Layout>
