---
export type Props = {
  label: string;
  text: string | number;
  extra_classes?: string;
};

const {label, text, extra_classes = ""} = Astro.props;
---

<p class={`mb-1 ${extra_classes}`.trim()}>
  <span class="font-medium text-gray-400">{label}:</span>
  {text}
</p>
