---
import {MultiIcon} from "@atoms";
import {user} from "@models";
---

<button
  class="theme-toggle"
  data-theme={user.get()?.theme ?? "system"}
  aria-label="Theme toggle">
  <MultiIcon icons={["sun", "moon", "half-moon"]} size={1.125} />
</button>

<script>
  import {user, type Theme} from "@models";

  const themes = ["dark", "system", "light"] as Theme[];
  let current_theme_index = themes.indexOf(
    document.documentElement.className.replace("-theme", "") as Theme,
  );

  const theme_toggle = document.querySelector(".theme-toggle");
  theme_toggle?.addEventListener("click", () => {
    current_theme_index = (current_theme_index + 1) % themes.length;
    const new_theme = themes[current_theme_index];
    user.set({...user.get(), theme: new_theme});
    document.documentElement.className = `${new_theme}-theme`;
  });
</script>

<style>
  .theme-toggle {
    position: relative;
  }
</style>
