---
type Props = {
  label: string;
  size: number;
  type: "primary" | "secondary" | "accent";
  color: string;
};

const {label, size, type, color} = Astro.props;
---

<span class={type} style={`font-size: ${size}rem; color: ${color};`}>
  {label}
</span>

<style>
  .primary {
    font-weight: 700;
  }

  .secondary {
    font-weight: 400;
    opacity: 0.9;
  }

  .accent {
    font-weight: 700;
  }
</style>
