---
import {parse_curriculum} from "@app/01-curriculum-parser/parser";
import {read_file} from "@app/02-read-file";
import Divider from "@atoms/text/Divider.astro";
import Spacer from "@atoms/text/Spacer.astro";
import Footer from "@molecules/Footer.astro";
import CourseList from "@organisms/CourseList";
import MenuBar from "@organisms/MenuBar.astro";
import Main from "@templates/Main.astro";

const courses = parse_curriculum(read_file("curriculum.md"));
---

<Main title="Fourth Wall Education">
  <MenuBar />

  <Spacer size={1} />

  <div class="content">
    <div class="sidebar"></div>
    <div class="course-list">
      <CourseList courses={courses} />
      <Divider size={2} faded />
      <Footer copyright="Fourth Wall ⓒ" size={1.25} />
      <Spacer size={2} />
    </div>
  </div>
</Main>

<style>
  .content {
    display: flex;
    gap: 1rem;
  }

  .sidebar {
    width: 20%;
  }

  .course-list {
    width: 80%;
  }

  @media (max-width: 1280px) {
    .sidebar {
      display: none;
    }

    .course-list {
      width: 100%;
    }
  }
</style>
