---
import Layout from "@templates/Layout.astro";
import {parse_curriculum} from "@app/01-curriculum-parser/parser";
import {read_file} from "@app/02-read-file";
import CourseList from "@organisms/CourseList.astro";
import Spacer from "@atoms/text/Spacer.astro";
import Header from "@organisms/Header.astro";
import Footer from "@organisms/Footer.astro";
import Divider from "@atoms/text/Divider.astro";

const courses = parse_curriculum(read_file("curriculum.md"));
---

<Layout title="Fourth Wall Education">
  <div>
    <Header
      title="Fourth Wall Education"
      subtitle="Explore our comprehensive curriculum"
    />
    <Spacer size={2} />
    <CourseList courses={courses} />
    <Divider size={2} faded />
    <Footer copyright="Fourth Wall ⓒ" size={1.25} />
    <Spacer size={2} />
  </div>
</Layout>

<style>
  div {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem;
  }
</style>
