---
import Text from "@atoms/text/Text.astro";
import BackButton from "@molecules/BackButton";
import Main from "@templates/Main.astro";
---

<Main title="Settings Page">
  <dev>
    <Text
      label="Settings Page"
      size={1.5}
      type="primary"
      color="var(--fg-color)"
    />

    <BackButton />
  </dev>
</Main>

<style>
  dev {
    display: flex;
    justify-content: space-between;
  }
</style>
