---
import {Spacer} from "@atoms";
import {user} from "@models";
import {FullButton, InputField} from "@molecules";
import {ProfileHeader, SettingsSection} from "@organisms";
import {Main} from "@templates";
---

<script is:inline>
  if (
    !document.cookie.includes("sb-access-token=") ||
    !document.cookie.includes("sb-refresh-token=")
  ) {
    history.pushState(null, "", "/signin");
    history.pushState(null, "", "/signin");
    history.back();
    window.location.replace("/signin");
  }
</script>

<Main title="Fourth Wall | Profile">
  <ProfileHeader />

  <Spacer size={1} />

  <SettingsSection title="Information">
    <InputField title="Email" value={user.get()?.email ?? ""} disabled />
  </SettingsSection>

  <Spacer size={2} />

  <SettingsSection title="Log out">
    <form action="/auth/logout">
      <FullButton
        label="Log out"
        fg_color="var(--white)"
        bg_color="var(--accent-color)"
        onclick="this.disabled = true; form.submit();"
      />
    </form>
  </SettingsSection>
</Main>

<style>
  form {
    width: fit-content;
  }

  @media (max-width: 1280px) {
    .settings {
      max-width: 60%;
    }
  }

  @media (max-width: 1072px) {
    .settings {
      max-width: 70%;
    }
  }

  @media (max-width: 864px) {
    .settings {
      max-width: 80%;
    }
  }

  @media (max-width: 768px) {
    .settings {
      max-width: 90%;
    }
  }

  @media (max-width: 464px) {
    .settings {
      max-width: 100%;
    }
  }
</style>
