---
import {Text} from "@atoms";
import {BackButton} from "@molecules";
import {Main} from "@templates";
---

<Main title="Settings Page">
  <dev>
    <Text
      label="Settings Page"
      size={1.5}
      type="primary"
      color="var(--fg-color)"
    />

    <BackButton />
  </dev>
</Main>

<style>
  dev {
    display: flex;
    justify-content: space-between;
  }
</style>
