---
import {Spacer} from "@atoms";
import {AuthContainer, ProfileHeader} from "@organisms";
import {Main} from "@templates";
---

<script is:inline>
  if (
    document.cookie.includes("sb-access-token=") &&
    document.cookie.includes("sb-refresh-token=")
  ) {
    history.pushState(null, "", "/");
    history.pushState(null, "", "/");
    history.back();
    window.location.replace("/");
  }
</script>

<Main title="Fourth Wall | Sign In">
  <ProfileHeader />
  <Spacer size={1} />
  <AuthContainer />
</Main>
