---
import {Spacer, Text} from "@atoms";
import {BackButton} from "@molecules";
import {Main} from "@templates";

const error = Astro.url.searchParams.get("error");
const error_description = Astro.url.searchParams.get("error_description");
---

<script is:inline>
  if (
    document.cookie.includes("sb-access-token=") &&
    document.cookie.includes("sb-refresh-token=")
  ) {
    history.pushState(null, "", "/");
    history.pushState(null, "", "/");
    history.back();
    window.location.replace("/");
  }
</script>

<Main title="Fourth Wall | Sign In">
  <div class="first-row">
    <div></div>
    <BackButton />
  </div>

  <Spacer size={1} />

  <div class="auth-container">
    <div class="auth-section">
      <div class="auth-title">
        <Text
          label="Sign In"
          size={1.125}
          type="primary"
          color="var(--fg-color)"
        />
      </div>

      {
        error && (
          <>
            <Spacer size={1} />
            <div class="auth-error">
              <Text
                label={error_description || "An error occurred during sign in."}
                size={0.875}
                type="secondary"
                color="var(--coral)"
              />
            </div>
          </>
        )
      }

      <Spacer size={2} />

      <form action="/auth/signin" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <Spacer size={0.5} />
          <input
            type="email"
            name="email"
            id="email"
            autocomplete="off"
            placeholder="name@mail.com"
          />
        </div>

        <Spacer size={2} />

        <button
          type="submit"
          data-astro-history="replace"
          onclick="disabled=true;form.submit();">
          <Text
            label="Send One-Time Password"
            size={0.875}
            type="secondary"
            color="var(--white)"
          />
        </button>
      </form>
    </div>
  </div>
</Main>

<style>
  .first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .auth-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30%;
    margin: 0 auto;
  }

  .auth-section {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--fg-color);
    border-radius: 0.5rem;
    padding: 2rem;
  }

  .auth-title {
    text-align: center;
  }

  .auth-error {
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background: color-mix(in srgb, var(--coral) 10%, transparent);
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  input {
    border: 1px solid var(--fg-color);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    background: transparent;
    color: var(--fg-color);
    outline: none;
  }

  button {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: var(--accent-color);
    transition: all var(--hover-animation-time) ease-in-out;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background: color-mix(in srgb, var(--accent-color) 75%, transparent);
  }

  @media (max-width: 1280px) {
    .auth-container {
      max-width: 40%;
    }
  }

  @media (max-width: 1072px) {
    .auth-container {
      max-width: 50%;
    }
  }

  @media (max-width: 864px) {
    .auth-container {
      max-width: 60%;
    }
  }

  @media (max-width: 768px) {
    .auth-container {
      max-width: 70%;
    }
  }

  @media (max-width: 464px) {
    .auth-container {
      max-width: 100%;
    }
  }
</style>
