---
type Props = {
  href: string;
  accessibility: string;
};

const {href, accessibility} = Astro.props;
---

<a href={href} draggable="false" aria-label={accessibility}>
  <slot />
</a>

<script>
  document.querySelectorAll("a").forEach(link => {
    link.addEventListener("click", (event: MouseEvent) => {
      if (history.state?.url.includes("/course")) {
        event.preventDefault();
        history.back();
      }
    });
  });
</script>
