<div class="center-item">
  <slot />
</div>

<style>
  .center-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  }
</style>
