---
import Spacer from "@atoms/text/Spacer.astro";
import Text from "@atoms/text/Text.astro";
import BackButtonNavigation from "@molecules/BackButtonNavigation.svelte";
---

<BackButtonNavigation client:load />

<div
  id="02-molecules/BackButton.astro"
  class="container"
  aria-label="back to courses"
  tabindex="0">
  <div class="items">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="size-5">
      <path
        fill-rule="evenodd"
        d="M17 10a.75.75 0 0 1-.75.75H5.612l4.158 3.96a.75.75 0 1 1-1.04 1.08l-5.5-5.25a.75.75 0 0 1 0-1.08l5.5-5.25a.75.75 0 1 1 1.04 1.08L5.612 9.25H16.25A.75.75 0 0 1 17 10Z"
        clip-rule="evenodd"></path>
    </svg>
    <Spacer size={0.5} />
    <Text
      label="Back to Courses"
      size={0.875}
      type="accent"
      color="var(--white)"
    />
  </div>
</div>

<style>
  .container {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .items {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--white);
  }

  .items:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.075);
  }

  svg {
    width: 1rem;
  }
</style>
