---
import {Spacer, Text} from "@atoms";

type Props = {
  section_title: string;
  items: string[];
};

const {section_title, items} = Astro.props;
---

{
  items && items.length > 0 && (
    <div>
      <Text
        label={section_title}
        size={1.5}
        type="primary"
        color="var(--fg-color)"
      />
      <Spacer size={0.75} />
      <ul>
        {items.map(item => (
          <li>
            <Text
              label={item}
              size={1}
              type="secondary"
              color="var(--fg-color)"
            />
          </li>
        ))}
      </ul>
    </div>
  )
}

<style>
  div {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 0.5rem;
  }
</style>
