---
import Text from "@atoms/text/Text.astro";

type Props = {
  copyright: string;
  size: number;
};

const {copyright, size} = Astro.props;
---

<div>
  <Text label={copyright} color="var(--fg-color)" type="primary" size={size} />
</div>

<style>
  div {
    text-align: right;
  }
</style>
