---
import Spacer from "@atoms/text/Spacer.astro";
import Text from "@atoms/text/Text.astro";
import BackButton from "@molecules/BackButton";
import SettingsButton from "@molecules/SettingsButton.astro";

type Props = {
  title: string;
  subtitle: string;
  with_buttons?: boolean;
};

const {title, subtitle, with_buttons = false} = Astro.props;
---

<div class="header">
  <div class="title">
    <Text label={title} size={1.5} type="primary" color="var(--white)" />
    <Spacer size={0.5} />
    <Text label={subtitle} size={1} type="primary" color="var(--white)" />
  </div>

  {
    with_buttons && (
      <div class="buttons">
        <BackButton />
        <SettingsButton href="/settings" />
      </div>
    )
  }
</div>

<style>
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .title {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }
</style>
