---
import {LinkButton, Text} from "@atoms";
---

<LinkButton href="/" accessibility="fourth wall education homescreen">
  <div class="logo">
    <Text label="" size={1} type="primary" color="var(--fg-color)" />
  </div>
</LinkButton>

<style>
  .logo {
    display: inline-flex;
    border-radius: 0.25rem;
    padding: 0.375rem;
    transition: all var(--hover-animation-time) ease-in-out;
  }

  .logo:hover {
    background-color: color-mix(in srgb, var(--fg-color) 12.5%, transparent);
  }

  .logo :global(span)::before {
    content: "/ Fourth Wall Education /";
  }

  @media (max-width: 464px) {
    .logo :global(span)::before {
      content: "/ FW /";
    }
  }
</style>
